<configuration>
  <system.webServer>
	<staticContent>
		<remove fileExtension=".json" />
    		<mimeMap fileExtension=".json" mimeType="application/json" />
		<remove fileExtension=".bin" />
    		<mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
	</staticContent>
  </system.webServer>
</configuration>
