
.content {
    width: 100%;
    padding: 0 60px 0 300px;
    padding-top: 5%;
}

.content #content-input {
    padding-top: 60px;
}

.content label {
    font-size: 2rem;
    color: inherit;
}

.content input {
    color: #ff8400;
}

.content input:focus {
    color: white;
}

.progress .progress-bar {
    background-color: #ff8400;
}
