html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #d3d3d3;
    font: 12pt arial;
    background-color: #222222;
}

.full-size {
    width: 100%;
    height: 100%;
}

.spinner-orange {
    border-color: #FF8400;
}

.playlist-label {
    padding: 0 !important;
    padding-left: 20px !important;
    padding-top: 1.5rem !important;
    max-width: 700px;
}

.playlist-label-loaded {
    padding-top: 0.5rem !important;
}

.playlist-loading-item {
    padding: 0 !important;
}

.footer {
    padding-top: 20px;
}

.playlist-image {
    max-height: 52px;
    max-width: 52px;
}

.preview {
    padding-left: 20px !important;
}

#finish-button-container {
    padding-bottom: 30px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.redirect-container {
    height: 100%;
}

.redirect-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}

#add-playlist-button {
    margin-bottom: 0 !important;
}